<blockquote>

<div class="well well-lg">
<p>
html:
<pre>
&lt;table 
	ng-model="jstabledata" 
	data-show-pagination-info="false"
	data-pagination="false"
	data-single-select="false"
	data-tree-view="true" //启用tree-view
	bs-table-control="tableOptions"&gt;
	&lt;thead&gt;
	&lt;tr&gt;
		&lt;th data-field="name"&gt;&lt;/th&gt;
		&lt;th data-field="state" data-checkbox="true"&gt;&lt;/th&gt;
	 	&lt;th data-field="id"&gt;ID&lt;/th&gt;
	&lt;/tr&gt;
	&lt;/thead&gt;
&lt;/table&gt;		
</pre>
javascript
<pre>
angular.controller('demoController', ['$scope'function($scope){
	$scope.tableOptions = {};
	$scope.jstabledata = {total: 100, rows: [
		{id: '100000001',name: '列数据', pid: undefined},
			{id: '1000000011',name: '列数据', pid: 100000001},
				{id: '10000000111',name: '列数据', pid: 1000000011},
					{id: '100000001111',name: '列数据', pid: 10000000111},
					{id: '100000001112',name: '列数据', pid: 10000000111},
					{id: '100000001113',name: '列数据', pid: 10000000111},
					{id: '100000001114',name: '列数据', pid: 10000000111},
				{id: '10000000112',name: '列数据', pid: 1000000011},
				{id: '10000000113',name: '列数据', pid: 1000000011},
				{id: '10000000114',name: '列数据', pid: 1000000011},
				{id: '10000000115',name: '列数据', pid: 1000000011},
				{id: '10000000116',name: '列数据', pid: 1000000011},
			{id: '1000000012',name: '列数据', pid: 100000001},
			{id: '1000000013',name: '列数据', pid: 100000001},
			{id: '1000000014',name: '列数据', pid: 100000001},
			{id: '1000000015',name: '列数据', pid: 100000001},
			{id: '1000000016',name: '列数据', pid: 100000001},
			{id: '1000000017',name: '列数据', pid: 100000001},
			{id: '1000000018',name: '列数据', pid: 100000001},
			{id: '1000000019',name: '列数据', pid: 100000001},
		{id: '100000002',name: '列数据', pid: undefined},
		{id: '100000002',name: '列数据', pid: undefined},
	]}
}])
</pre>
</p>
</div>
</blockquote>
<p>
	例子
<table 
	ng-model="jstabledata" 
	data-show-pagination-info="false"
	data-pagination="false"
	data-single-select="false"
	data-tree-view="true"
	bs-table-control="tableOptions">
	<thead>
	<tr>
		<th data-field="name"></th>
		<th data-field="state" data-checkbox="true"></th>
	 	<th data-field="id">ID</th>
	</tr>
	</thead>
</table>

</p>
