<blockquote>
	<p>
	<b>ngAlert使用说明</b>
	<div class="well well-lg">
		ngAlert是一个angular service, ngAlert提供了三种提示框,如下:
		<pre>
ngAlert.info('info message', 'info title', 'info ok');
ngAlert.success('success message', 'success title', 'success ok');
ngAlert.error('error message', 'error title', 'error ok');
		</pre>
	</div>
	<footer>例子: 
		<a href="javascript:void(0)" class="btn btn-default" role="button" ng-click="openAlertInfo()">
			<cite title="点击测试">alertInfo</cite>
		</a>
		<a href="javascript:void(0)" class="btn btn-default" role="button" ng-click="openAlertError()">
			<cite title="点击测试">alertError</cite>
		</a>
		<a href="javascript:void(0)" class="btn btn-default" role="button" ng-click="openAlertSuccess()">
			<cite title="点击测试">alertSuccess</cite>
		</a>
	</footer>
  </p>
</blockquote>